h1 {
    color: whitesmoke;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 0.8px;
}

.form {
    width: 700px;
    padding: 10px;
    list-style-position: initial;
    align-content: center;
    background-color: rgba(253, 10, 83, 0.911);
    margin: auto;
}

.checkbox {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 140px;
}

.about_yourself {
    margin-bottom: 30px;
}

.desired_career {
    margin-bottom: 30px;
}

.enter_name {
    margin-top: 30px;
    margin-bottom: 30px;
}

.improve_class {
    margin-bottom: 30px;
}

.option {
    position: relative;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.platform {
    margin-bottom: 10px;  
}

.radio {
    position: relative;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.study_home {
    margin-bottom: 30px;
}

.submit_button {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 20px;
}

.questions {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    width: 400px;
    background-color: oldlace;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.637);
    margin: 5px 5px 5px 5px;
}